<nav class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleMenu()">
    <span class="icon">☰</span>
    <span class="text" *ngIf="!isCollapsed"> Intap</span>
  </button>

  <ul class="menu">
    <li>
      <a (click)="cerrarSesion()" style="cursor:pointer;">
        <span class="icon">🚪</span>
        <span class="text" *ngIf="!isCollapsed">Cerrar sesión</span>
      </a>
    </li>
  </ul>
</nav>

<main class="content" [class.expanded]="isCollapsed">
  <router-outlet></router-outlet>
</main>
